*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
/* if wanna remove white line, any thing referred to height plus 5px */
nav{ /* Background for header */
    height: 65px;
    width: 100%;
    background: rgb(112, 3, 3)
}
label.logo{ /* Logo */
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding: 0 50px;
    line-height: 70px;
}
nav ul{ /* this is for the entire navigation selection */
    float: right;
    margin-right: 40px;
}
nav li{ /* Structure of Properties */
    display: inline-block;
    margin: 0 8px;
    line-height: 70px;
}
nav a{ /* Properties in header */
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    padding: 7px 10px;
    font-weight: bold;
}
a.active,a:hover{ /* When hover on */
    color: rgb(155, 155, 155);
    transition: .5s;
}
nav #icon{ /* icon three lines */
    color:white;
    font-size: 30px;
    line-height: 70px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
@media (max-width: 1048px){
    label.logo{
        font-size: 25px;
        padding-left: 30px;
    }
    nav ul{
        margin-right: 20px;
    }
    nav a{
        font-size: 17px;
    }
}
@media (max-width:909px){
    label.logo{
        top: 10%;
    }
    nav #icon{
        display: block;
    }
    nav ul{ /* properties for the outside the header */
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(21, 21, 21);
        top: 75px; 
        left: 0;
        text-align: center;
        transition: all .5s
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    a.active,a:hover{
        border: none;
        color: rgb(155, 155, 155)
    }
    a.fas{
        top: 55px;
        font-size: 27px;
        padding-left: 80%;
    }
}