*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Italiana', sans-serif;;
}
nav{ /* Background for header */
    height: 75px;
    width: 100%;
    background: rgb(141, 8, 8,0.95);
}
label.logo{ /* Logo */
    font-size: 50px;
    font-weight: bold;
    color: white;
    padding: 0 60px;
    line-height: 85px;
    font-family: 'Italianno', cursive;
}
nav ul{ /* this is for the entire navigation selection */
    float: right;
    margin-right: 40px;
}
nav li{ /* Structure of Properties */
    display: inline-block;
    margin: 0 8px;
    line-height: 75px;
}
nav a{ /* Properties in header */
    color: rgba(255, 255, 255, 0.4);
    font-size: 18px;
    text-transform: uppercase;
    padding: 7px 10px;
    font-weight: bold;
}
a.active,a:hover{ /* When hover on or when already selected*/
    color: rgb(255, 255, 255);
    transition: .5s;
}
nav #icon{ /* icon three lines */
    color:rgba(255, 255, 255, 0.4);
    font-size: 30px;
    line-height: 75px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
@media (max-width: 1048px){
    label.logo{
        font-size: 40px;
        padding-left: 30px;
    }
    nav ul{
        margin-right: 20px;
    }
    nav a{
        font-size: 17px;
    }
}
/* responsive slider for the navigation header */
@media (max-width:909px){
    label.logo{
        line-height: 88px;
    }
    nav #icon{
        display: block;
    }
    nav ul{ /* properties for the outside the header */
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(0, 0, 0);
        top: 75px; 
        left: -100%; /* for transition */
        text-align: center;
        transition: all .5s;
    }
    nav li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        font-size: 20px;
    }
    a.active,a:hover{
        border: none;
        color: rgb(255, 255, 255);
    }
    a.fas{
        line-height: 55px;
        font-size: 28px;
        padding-left: 80%;
    }
    nav ul.show{
        left: 0; /* when press the three lines, the dropdown of navigation will return */
    }
    /* area for content */
    .center-header h1{
        font-size: 80px;
    }
}
/* for background video */
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1; /* this is so that my navigation header could be seen and not overlapped by the video */
}
@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;

    }
}
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}
/*Quote*/
.home-quote{
    font-size: 50px;
    padding: 25px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Italianno', cursive;
}
.center-header{
    font-size: 100px;
    padding: 25px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Italianno', cursive;
}
/*Description & Buttons For Homepage*/
.home-description{
    padding: 50px;
    font-size: 30px;
    text-align: center;
    color: white;
}
.to-story-btn{
    text-align: center;
}
.to-story-btn a{
    width: 150px;
    text-decoration: none;
    display:inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: rgb(255, 255, 255,0.7);
    font-weight: bold;
    border: .5px solid white;
    background-color:rgba(0, 0, 0, 0.8);
}
.to-story-btn a:hover{
    color: rgb(255, 255, 255);
    transition: .5s;
}